* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    color: rgba(57,57,57,1);
}

.modules-left,
.modules-center,
.modules-right {
    padding: 0 10px;
}

window#waybar {
    margin: 4px;
    border-radius: 5px;
    border: 2px solid rgba(78,65,128,255);
    background: rgba(201,214,177,0.5);
}
